<!-- templates/activate_account.html -->

{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Account Activation{% endblock %}

{% block content %}
    <h2>Activate Your Email</h2>
    <p>This email should be in your inbox, if not check spam!</p>
    <p>Email sent to {{ email }}</p>
    
    
        <form method="post" class="me-2">
            {% csrf_token %}
            {{ form|crispy }}
            
            <button class="btn btn-primary" type="submit" name="activate">Activate</button>
        </form><br>

        <form method="post" class="me-2">
            {% csrf_token %}
            <button class="btn btn-secondary" type="submit" name="resend_code">Resend Activation Code</button>
        </form><br>

        <a href="/customer/profile" class="btn btn-info">Profile</a><br>
    

        {% if messages %}
        <br>
        <div class="alert alert-info">
            <ul class="mb-0">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endblock %}
