{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container">
        <h2>Change Account Password</h2>
        <form method="post" novalidate>
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" name="change_password" class="btn btn-danger">Change Password</button>
            {% if form.non_field_errors %}
                <div class="alert alert-danger">
                    <ul>
                        {% for error in form.non_field_errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </form>
    </div>
{% endblock %}
