{% extends "business/base.html" %}

{% block title %}Home{% endblock %}

{% block content %}

    <div class="card">
        <div class="card-body">
            <div class="d-flex justify-content-start">
                <button class="btn btn-primary mr-2" onclick="window.location.href='/business/dashboard'">Dashboard</button>
                <button class="btn btn-primary mr-2" onclick="window.location.href='/sub-facilities/new/{{facility.id}}'">Add a facility</button>
                
            </div>
        </div>
    </div>

    <h2>{{ facility.facilityName }}</h2>
    <p><strong>Type:</strong> {{ facility.facilityType }}</p>
    <p><strong>Description:</strong> {{ facility.facilityDescription }}</p>

    <h2>Facilities to book</h2>

    {% if facility.facilityType == "Generic" or facility.facilityType == "Sports" %}

        {% if subFacilities %}
            <div class="row">
                {% for facility in subFacilities %}
                    <div class="col-md-4">
                        
                            <div class="card mb-4">
                                <div class="card-body">
                                    <h5 class="card-title">{{ facility.name }}</h5>
                                    <p class="card-text">Description: {{ facility.description }}</p>
                                    
                                    <p class="card-text">Slot Frequency: {{ facility.slot_frequency }}</p>
                                    <p class="card-text">Slot Length: {{ facility.slot_length }}</p>
                                    <p class="card-text">Slot Price: {{ facility.slot_price }}</p>
                                    
                                    <p class="card-text">ID: {{ facility.id }}</p>
                                    <a href="/facility/normal/bookings/{{facility.id}}"><button class="btn btn-success">View Bookings</button></a>
                                    <a href="/facility/edit/{{facility.id}}"><button class="btn btn-success">Edit</button></a>
                                    <a href="/facility/delete/{{facility.id}}"><button class="btn btn-danger">Delete</button></a>
                                    <a href="/facility/normal/close/{{facility.id}}"><button class="btn btn-danger">Close a day</button></a>
                                    
                                </div>
                            </div>
   
                    </div>
                    {% if forloop.counter|divisibleby:3 %}
                        </div><div class="row">
                    {% endif %}
                {% endfor %}
            </div>
        {% else %}
            <p>No facilities found for this business.</p>
        {% endif %}

    {% elif facility.facilityType == "Restaurant" %}
        {% for facility in subFacilities %}
        <div class="col-md-4">
            
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">{{ facility.name }}</h5>
                        <p class="card-text">Description: {{ facility.description }}</p>
                        <p class="card-text">Opening Time: {{ facility.opening_time }}</p>
                        <p class="card-text">Closing Time: {{ facility.closing_time }}</p>
                        <p class="card-text">Slot Frequency: {{ facility.slot_frequency }}</p>
                        <p class="card-text">Slot Length: {{ facility.slot_length }}</p>
                        <p class="card-text">Slot Price: {{ facility.slot_price }}</p>
                        <p class="card-text">ID: {{ facility.id }}</p>
                        <p class="card-text">Tables of 1: {{ facility.tables_of_1 }}</p>
                        <p class="card-text">Tables of 2: {{ facility.tables_of_2 }}</p>
                        <p class="card-text">Tables of 3: {{ facility.tables_of_3 }}</p>
                        <p class="card-text">Tables of 4: {{ facility.tables_of_4 }}</p>
                        <p class="card-text">Tables of 5: {{ facility.tables_of_5 }}</p>
                        <p class="card-text">Tables of 6: {{ facility.tables_of_6 }}</p>
                        <p class="card-text">Tables of 7: {{ facility.tables_of_7 }}</p>
                        <p class="card-text">Tables of 8: {{ facility.tables_of_8 }}</p>
                        <p class="card-text">Tables of 9: {{ facility.tables_of_9 }}</p>
                        <p class="card-text">Tables of 10: {{ facility.tables_of_10 }}</p>
                        <p class="card-text">Tables of 11: {{ facility.tables_of_11 }}</p>
                        <p class="card-text">Tables of 12: {{ facility.tables_of_12 }}</p>
                        <a href="/facility/rest/edit/{{facility.id}}"><button class="btn btn-success">Edit</button></a>
                        <a href="/facility/rest/delete/{{facility.id}}"><button class="btn btn-danger">Delete</button></a>
                    </div>
                </div>

        </div>
        {% if forloop.counter|divisibleby:3 %}
            </div><div class="row">
        {% endif %}
        {% endfor %}
    {% endif %}

{% endblock %}