{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Close Facility{% endblock %}

{% block content %}
  <h2>Close Facility: {{facility.name}}</h2>
  <h3 style="color: red;">If there are any bookings already on this date, it is your responsibility to deal with these!</h3>
  <form method="post" novalidate>
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-primary">Close Facility</button>
  </form>
    {% for closed_date in closed_dates %}
        <p>Closed Date: {{ closed_date.date }}
        <a href="/facility/normal/re-open/{{facility.id}}/{{ closed_date.date|date:"Y-m-d" }}" class="btn btn-danger">Re-open</a></p>
    {% endfor %}

{% endblock %}
